bin/
dist/
secrets/
.env
.envrc
pkg/
node_modules/
jspm_packages/
.serverless

*.swp
*.swa
*.tmp
.DS_Store
.gradle
gradle/
gradle-cache/
.classpath
.project
.vscode

.TODAY

*.pb.go

.idea/
.settings/
.sublime-project
.sublime-project.sublime-workspace
**/out
./log/
build/
target/
temp/

coverage
coverage.tgz
